<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Quiz App</title>
</head>
<body>
  <header>
    <div class="logo">Quiz App</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">add quiz</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

</header>

<section class="hero">
    <h1>Welcome to the Quiz App</h1>
    <p>Test your knowledge with fun quizzes!</p>
    
</section>
<footer>
    <p>all rights reserved &copy; 2024</p>
</footer>
<script src="script.js"></script>

</div>
</body>
</html>